#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#siteName{
  font-style: italic;
  font-weight: bold;
  font-size: 3vw;
  font-family: 'cursive';

}

#searchBtn{
  border-radius: 1em;
  height: 50px;
  min-height: 25px;
  width: 100px;
  min-width: 50px;
}

#searchBtn:hover{
  border-color: green;
}

@media (min-width: 400px) {
  #searchBtn {
    width: 80px;
    height: 40px;
    font-size: 16px;
    padding: 1px;
  }
}

/* Large screens (desktops) */
@media (min-width: 1024px) {
  #searchBtn {
    width: 100px;
    height: 50px;
    font-size: 18px;
  }
}

#catFont{
  font-family: 'cursive'; 
}


@media(max-width: 412px) {
  .smallSize{
    height: 100%;
  }
}

#login{
  font-family: 'cursive';
}
#logout{
  font-family: 'cursive';
}
#signup{
  font-family: 'cursive';
}

.boxshadow{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#filter{
  font-family: 'cursive';
  font-style: italic;
}

.headStyle{
  font-family: 'cursive';
  font-style: italic;
}

@media(width <1024px){
  .hide{
    font-size: 0px;
  }
}

.itemSelect{
  border: none;
}

.itemSelect:hover{
  background-color: rgb(255,255,224);
  /*border: none;*/
}

.itemSelect:active{
  background-color: rgb(240,230,140);
  /* border: none; */
}

.checkOut{
  background-color: rgb(205, 133,63);
  
}

.styleButton{
  box-shadow: 0 4px 8px 0 rgba(7, 129, 108, 0.2), 0 6px 20px 0 rgba(7, 129, 108, 0.2);
}

.styleButton:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.2);
  color: white;
  background-color: rgba(7, 129, 108, 0.2);
}

.productForm{
  background: linear-gradient(90deg, pink, skyblue);
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.2);
}